video{
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    margin: 0 auto;
}
button{
    background-color: #df38d1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 5s;
    border-radius: 15px;
    text-align: center;
}
p{
    padding: 10px;
    position: relative;
    top: auto;
    width: auto;
    background-color: white;
    color: black;
    opacity: 0.60;
    font-style: bold;
    font-size: 30px;
}
h1{
    font-family: Algerian;
    font-size: 50px;
    text-align: center;
    color: rgb(235, 138, 12);
    padding: 20px;
}
h2{
    color: rgb(57, 232, 255);
}